.site__footer {
   padding: 48px 0 48px 0;
   background-color: #2d314d;
}

.fathers__lists {
   display: flex;
   align-content: center;
   justify-content: center;
}

.business__networks-lsit {
   margin-top: 55px;
   display: flex;
   align-items: center;
}

.business__networks-link {
   margin-right: 13px;
}


.end__list-link {
   font-family: 'Public Sans', sans-serif;
   font-size: 15px;
   line-height: 26px;
   color: #FFFFFF;
   transition: 0.3s;
}

.end__list-link:hover {
   color: #30C88F;
}

.by__get-easy {
   margin-bottom: 900px;
   margin-left: 500px;
}

.by__name-company {

}
