.medium__section {
   background-color: #F4F5F7;
   padding: 96px 0 94px 0;
}

.medium__box {
   margin-top: 96px;
}

.medium__title {
   margin-bottom: 16px;
   font-family: 'Public Sans', sans-serif;
   font-style: normal;
   font-weight: 100;
   font-size: 40px;
   line-height: 64px;
   color: #2D314D;
}

.medium__text {
   width: 635px;
   font-family: 'Public Sans', sans-serif;
   font-size: 18px;
   line-height: 28px;
   color: #9597A5;
}

.medium__list {
   display: flex;
   align-items: center;
}

.medium__list-item {
   margin-left: 30px;
   margin-top: 72px;
}

.online__info {
   margin-top: 40px;
   font-family: 'Public Sans';
   font-style: normal;
   font-weight: 100;
   font-size: 24px;
   line-height: 28px;
   letter-spacing: -0.428571px;
   color: #2D314D;
}

.online__info-text {
   font-family: 'Public Sans', sans-serif;
   font-size: 16px;
   line-height: 26px;
   color: #9597A5;
}
